.timetable-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
}
  
.timetable-title {
    font-size: 2vw;
    color: #ffffff;
    background-color: #1e6bb8;
    padding: 1vw 3.8vw;
    border-radius: 0.5vw;
    margin-bottom: 4vw;
    text-align: center;
    width: 80vw;
    max-width: 100vw;
}
  
.timetable-options {
    display: flex;
    gap: 2vw;
    justify-content: center;
    width: 100vw;
}
  
.timetable-option {
    width: 25vw;
    height: 60vh;
    border: 1px solid #ccc;
    border-radius: 0.5vw;
    position: relative;
    background-color: #f8f8f8;
    transition: transform 0.3s ease; /* 카드 호버 효과 */
}

.timetable-option:hover {
    transform: scale(1.05);
}
  
/* 구분선 스타일 */
.timetable-divider {
    width: 1px;
    background-color: #3f3f3f;
    height: 60vh;
    margin: 0 1vw;
}
  
.timetable-label {
    background-color: #1e6bb8;
    color: #ffffff;
    padding: 0.5vw 3.5vw;
    border-radius: 1vw;
    text-align: center;
    width: fit-content;
    position: absolute;
    top: -1vw;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1vw;
    transition: background-color 0.3s ease;
}

.timetable-label:hover {
    background-color: #154c8a; 
}
  
.timetable-content {
    padding: 1vw;
}
