.timetableview-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    position: relative;
}

.timetableview-header {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh 0;
    position: relative;
}

.timetableview-close-btn {
    font-size: 5rem;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    position: absolute;
    left: 0;
}

.timetableview-title {
    font-size: 2rem;
    color: #ffffff;
    background-color: #1e6bb8;
    padding: 0.5vh 23vw;
    border-radius: 2.5rem;
    text-align: center;
}


.timetableview-pdf-save-btn {
    font-size: 1.2rem;
    color: #ffffff;
    background-color: rgba(68, 94, 180, 0.8);
    padding: 0.8vh 5vw;
    border-radius: 2.5rem;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0; /* 오른쪽에 고정 */
    
    /* 왼쪽 정렬을 위한 flex 설정 */
    display: flex;
    justify-content: flex-start;
    padding-left: 1vw; /* 텍스트를 버튼 왼쪽으로 정렬 */
}


.timetableview-content {
    width: 90vw;
    height: 80vh;
    background-color: rgba(68, 94, 180, 0.8); /* #445Eb4 색상과 80% 투명도 */
    border-radius: 0.5rem;
    margin-top: 1vh;
}
